.isBanner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.isHeader{
    position: fixed;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    background: linear-gradient(to top, rgba(50, 50, 50, .90), rgba(50, 50, 50, 1));
    width: 100%;
    z-index: 10;
    top: 0px;
    display: flex;
}

.isBanner h1{
    color: white;
    display: inline-block;
    margin-left: 4vh;
    font-size: 4vh;
}

.isHeader h1{
    display: none;
}

.isBanner img{
    height: 20vh;
    border-radius: 50%;
    margin-left: 3vh;
    margin-bottom: 3vh;
}

.isHeader img{
    height: 7vh;
    border-radius: 50%;
    display: inline-block;
}

#BannerHeader-NavBar{
    display: inline-block;
}

.upper-trigger{
    height: 1px;
}

.bannerContainer {
    height: 100vh;
    display: flex;
}

.headerContainer {
    height: 140px;
}

button{
    /* display: none; */
}

/*
color code that I very much like #202020

*/