.isBanner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.isHeader{
    position: fixed;
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    width: 100%;
    z-index: 10;
    height: 15vh;
}

h1{
    color: white;
    display: inline-block;
}

img{
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}

#BannerHeader-NavBar{
    display: inline-block;
}

.upper-trigger{
    height: 1px;
}

.active {
    height: 100vh;
}