html {
  font-family: press_start_2pregular, Arial, sans-serif;
  font-weight:normal;
  font-style:normal;

  color: white;
  overflow: visible;
}

@font-face {
  font-family: 'press_start_2pregular';
  src: url('/public/assets/pressstart2p-vav7-webfont.woff2') format('woff2'),
        url('/public/assets/pressstart2p-vav7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

body {
  display: flex;
  justify-content: center;
  overscroll-behavior-y: none;
}

.navbar {
  position: fixed;
  width: 100%;
  bottom: 10px;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-button{
  width: 20vh;
  border: 1px solid white;
  text-align: center;
  margin: .5vh 0vh;
  background-color: black;
  
  /* color: #333; */
  /* box-shadow: -3px 3px orange, -2px 2px orange, -1px 1px orange;
  border: 1px solid orange; */
}


.navbar h2 {
  display: inline-block;
  font-size: 100%;
}

.main-content {
  position: relative;
  /* width: 100%; */
  text-align: center;
}

.main-content h1, h2 {
  position: static;
}

.section {
  margin-top: 100vh;
  overflow: scroll;
}

#home {
  margin-top: 58vh;
  scroll-behavior: none;
  /* margin-left: 50%;
  margin-right: -50%; */
}

#home h1 {
  margin-bottom: 8vw;
}

#projects h1{
  margin-top: 100vh;
}

.github-cards {
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
}

.repo-card {
  flex-shrink: 0;
  width: 300px;
  margin: 0 20px;
  border: 1px solid white;
  border-radius: 6px;
}

.repo-card > a, p {
  padding: 0 6px;
}

.repo-card > p {
  font-size: 80%;
}

.repo-card > a {
  font-size: 140%;
  color: white;
  text-decoration: underline;
}




#tweakables{
  z-index: 4;
  position: absolute;
  left: 2px;
  border: 1px solid white;
  background-color: black;
  display: none;
}

#tweakables h2{
  z-index: 1;
}

#tweakables button {
  display: block;
  margin-top: 20px;
}

#inputNumberRockets {
  display: block;
  margin-top: 20px;
}


