html {
  font-family: press_start_2pregular, Arial, sans-serif;
  font-weight:normal;
  font-style:normal;

  color: white;
  overflow: visible;
}

@font-face {
  font-family: 'press_start_2pregular';
  src: url('/public/assets/pressstart2p-vav7-webfont.woff2') format('woff2'),
        url('/public/assets/pressstart2p-vav7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

body {
  display: flex;
  justify-content: center;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#loading-screen h1 {
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
}

.navbar {
  position: fixed;
  width: 100%;
  bottom: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  perspective: 500px;
}


.navbar-button {
  z-index: 2;
  display: inline-block;
  width: 20vh;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  margin: .5vh 0vh;
  background-color: black;

  box-shadow:         0px 16px 0px ;
  /* -webkit-box-shadow: 0px 16px 0px white;
  -moz-box-shadow:    0px 16px 0px white; */

  transition: all 0.07s;
  -webkit-transition: all 0.07s;
  -moz-transition: all 0.07s;

  cursor: pointer;
  user-select:           none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select:   none; /* Safari */
  -khtml-user-select:    none; /* Konqueror HTML */
  -moz-user-select:      none; /* Old versions of Firefox */
  -ms-user-select:       none; /* Internet Explorer/Edge */

  
}

.navbar-button.pushed {
  z-index: 1;
  pointer-events: none;
  cursor: none;
  box-shadow:         0px 4px 0px white;
  -webkit-box-shadow: 0px 4px 0px white;
  -moz-box-shadow:    0px 4px 0px white;

  transition:         all 1.0s;
  -webkit-transition: all 1.0s;
  -moz-transition:    all 1.0s;

  transform: translateY(12px);
}

.navbar-button.other-active {
  pointer-events: none;
  color:rgb(105, 104, 104);
  border: 1px solid rgb(105, 104, 104);

  transition-property: color, border, box-shadow;
  transition-duration: 2s;
  -webkit-transition-property: color, border, box-shadow;
  -moz-transition-property:    color, border, box-shadow;
  -webkit-transition-duration: 2s;
  -moz-transition-duration:    2s;

  box-shadow:         0px 16px 0px rgb(105, 104, 104);
  -webkit-box-shadow: 0px 16px 0px rgb(105, 104, 104);
  -moz-box-shadow:    0px 16px 0px rgb(105, 104, 104);
}


.navbar h2 {
  font-size: 100%;
  text-shadow: 0px 2px 0px rgb(56, 56, 56);
}

.main-content {
  position: relative;
  /* width: 100%; */
  text-align: center;
}

.main-content h1, h2 {
  position: static;
}

.section {
  margin-top: 100vh;
  overflow: scroll;
}

#home {
  margin-top: 58vh;
  scroll-behavior: none;
  /* margin-left: 50%;
  margin-right: -50%; */
}

#home h1 {
  margin-bottom: 8vw;
}

#projects h1{
  margin-top: 100vh;
}

.github-cards {
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
}

.repo-card {
  flex-shrink: 0;
  width: 300px;
  margin: 0 20px;
  border: 1px solid white;
  border-radius: 6px;
}

.repo-card > a, p {
  padding: 0 6px;
}

.repo-card > p {
  font-size: 80%;
}

.repo-card > a {
  font-size: 140%;
  color: white;
  text-decoration: underline;
}





#tweakables{
  z-index: 4;
  position: absolute;
  left: 2px;
  border: 1px solid white;
  background-color: black;
  display: none;
}

#tweakables h2{
  z-index: 1;
}

#tweakables button {
  display: block;
  margin-top: 20px;
}

#inputNumberRockets {
  display: block;
  margin-top: 20px;
}


