.GitHubCards{
    margin: 0% 0% 2% 0%;
    border: 1.5px solid white;
    padding: 4px;
    padding-top: 5vh;
    padding-bottom: 4vh;
    background: linear-gradient(to right top, rgba(240, 240, 240, 0.274), rgba(240, 239, 239, 0.178));
}