.GitHubCards{
    margin: 0% 2% 2% 2%;
    border: 1px solid white;
    border-radius: 2vh;
    padding: 4px;
    padding-top: 5vh;
    padding-bottom: 4vh;
    background: linear-gradient(to right top, rgba(240, 240, 240, 0.274), rgba(240, 239, 239, 0.178));
}